ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.siteList .last .icon {
    /* 这里要把宽高写死否则无法调整 */
    width: 64px;
    height: 64px;
}

.siteList .removeSite .icon {
    width: 64px;
    height: 64px;
}

img {
    max-width: 160px;
    max-height: 64px;
}

#nodejs {
    max-width: 160px;
    height: 64px;
}

/* svg必须写高度 */
.removeSite {
    position: absolute;
    width: 20px;
    right: 0px;
    top: -60px;
    color: ;
}

.searchButton .icon {
    width: 25px;
    height: 25px;
}

body {
    background-color: #f0f0f0;
}

globalHeader {
    max-width: 100%;
    margin-top: 18px;
    display: flex;
}

.searchForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchForm>input {
    min-width: 65vw;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    text-indent: 15px;
    margin-left: 20px;
    /* input添加缩进 */
}

@media (min-width: 500px) {
    .searchForm>input {
        min-width: 35vw;
        height: 40px;
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        text-indent: 15px;
        margin-left: 20px;
        /* input添加缩进 */
    }

}

.searchForm>button.searchButton {
    margin-left: -35px;
    margin-top: 3px;
    height: 35px;
    background: #FFFFFF;
    border: none;
    color: #f0f0f0;
}

@media (min-width: 500px) {
    globalHeader {
        max-width: 100%;
        margin-top: 18px;
        display: flex;
        justify-content: center;
    }

    .searchForm>input {
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        text-indent: 15px;
        margin-left: 20px;
        /* input添加缩进 */
    }

}


.logo {
    text-transform: uppercase;
    font-size: 64px;
    color: #595959;
}

.siteList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
}




.fixedSite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
}

.site {
    width: 160px;
    height: 115px;
    border: 1px Solid#DDDDDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
    border-radius: 5px;
    position: relative;
}


@media (min-width: 500px) {
    globalHeader {
        max-width: 100%;
        margin-top: 200px;
        display: flex;
    }

    #wrapper {
        height: 600px;
        width: 800px;
        display: flex;
        flex-direction: column;
        align-self: center;
        margin-left: auto;
        margin-right: auto;

    }

    .siteList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    .fixedSite {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
    .site{
        width: 160px;
        height: 115px;
        border: 1px Solid#DDDDDD;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 17px;
        margin-left: 20px;
        border-radius: 5px;
        position: relative;
    }

}